<mat-toolbar class="header">
    <span class="header-text">All Games Status</span>
    <span class="header-button" style="color:goldenrod"><a routerLink="list" routerLinkActive="active" class="header-button-link">Games</a> | 
        <a routerLink="create" routerLinkActive="active" class="header-button-link">New game</a> | 
        <a routerLink="delete" routerLinkActive="active" class="header-button-link">Delete game</a></span>
    <!-- <span class="header-text">AllGames</span>
    <span class="header-text">AllGames</span> -->
</mat-toolbar>

<footer>
    <p class="footer-text">Site desenvolvido por Fábio Garcia Rios <br> All Games Status © 2022 Todos os Direitos Reservados</p>
</footer>
