<form class="game-form" *ngIf="gameForm" [formGroup]="gameForm" (ngSubmit)="onSubmitForm()">


          <!-- <div>
            <label for="title">Title: </label><br>
            <input id="title" name="title" formControlName="title" required />
          </div>

          <div>
            <label for="Description">Description: </label><br>
            <input id="Description" name="Description" formControlName="description" required />
          </div>

          <div>
            <label for="ReleaseDate">Release Date: </label><br>
            <input id="ReleaseDate" name="ReleaseDate" formControlName="releaseDate" required /><br>
          </div>

          <div>
              <label for="Price">Price: </label><br>
              <input id="Price" name="Price" formControlName="price" required /> <br><br>
          </div>

          <div>
              <input type="checkbox" id="Promotion" name="Promotion" formControlName="promotion" required />            
              <label for="Promotion">Promotion: </label><br><br>
          </div>

          <button type="submit">Inserir novo jogo</button> -->









          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Release date</mat-label>
            <input matInput formControlName="releaseDate">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Price</mat-label>
            <input matInput formControlName="price">
          </mat-form-field>

          <mat-checkbox formControlName="promotion">Promotion</mat-checkbox>

          <button mat-raised-button color="primary" class="submit-button" type="submit">Inserir novo jogo</button>




            <!-- <input id="title" name="title" [value]="newGame.title" (input)="onInputChange($event)" required /> -->


  </form>